@model IEnumerable<armadieti2.Models.ArmadioModel>

@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocationModel.Stabile)
            </th>
        </tr>
    </thead>
    <tbody>
            <tr>
        @foreach (var item in Model)
        {
                <td>                    
                        <a asp-controller="noleggios" asp-action="Create">
                            @Html.DisplayFor(modelItem => item.Numero)
                            @Html.DisplayFor(modelItem => item.LocationModel.Stabile)
                            </a>
                    @if (item.StatoChiave) { }
                </td>                
        }
            </tr>
    </tbody>
</table>