<<<<<<< HEAD
﻿
=======
﻿@model IEnumerable<armadieti2.Models.ArmadioModel>

>>>>>>> 2036f1c701d93c19b379b0a54ff893de8c5f3de4
@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <thead>
        <tr>
            <th>
<<<<<<< HEAD
                ds
=======
                @Html.DisplayNameFor(model => model.LocationModel.Stabile)
>>>>>>> 2036f1c701d93c19b379b0a54ff893de8c5f3de4
            </th>
        </tr>
    </thead>
    <tbody>
<<<<<<< HEAD

=======
            <tr>
        @foreach (var item in Model)
        {
                <td>                    
                        <a asp-controller="noleggios" asp-action="Create">
                            @Html.DisplayFor(modelItem => item.Numero)
                            @Html.DisplayFor(modelItem => item.LocationModel.Stabile)
                            </a>
                    @if (item.StatoChiave) { }
                </td>                
        }
            </tr>
>>>>>>> 2036f1c701d93c19b379b0a54ff893de8c5f3de4
    </tbody>
</table>