@model armadieti2.Models.NoleggioModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>NoleggioModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataInizio" class="control-label"></label>
                <input asp-for="DataInizio" class="form-control" />
                <span asp-validation-for="DataInizio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFine" class="control-label"></label>
                <input asp-for="DataFine" class="form-control" />
                <span asp-validation-for="DataFine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pagamento" class="control-label"></label>
                <select asp-for="Pagamento" class ="form-control" asp-items="ViewBag.Pagamento"></select>
            </div>
            <div class="form-group">
                <label asp-for="Cauzione" class="control-label"></label>
                <input asp-for="Cauzione" class="form-control" />
                <span asp-validation-for="Cauzione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdArmadio" class="control-label"></label>
                <select asp-for="IdArmadio" class ="form-control" asp-items="ViewBag.IdArmadio"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdChiave" class="control-label"></label>
                <select asp-for="IdChiave" class ="form-control" asp-items="ViewBag.IdChiave"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdUtente" class="control-label"></label>
                <select asp-for="IdUtente" class ="form-control" asp-items="ViewBag.IdUtente"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
